/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/*Site*/
.site-main {
  padding: 2.5%;
  width: 100%;
  .site-header {
    margin-top: 3em;
    .entry-content {
      font-size: 1.25rem;
    }
	}
			.entry-meta{
			display: flex;
			margin-bottom:3em;
		}
}
