/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */
.post-archives,
.category-archives,
.tag-archives {
  h2 {
    font-weight: 400;
  }
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      a {
        text-decoration: none;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-right: 1.125rem;
      }
    }
  }
}
.archive {
  .page-title {
    border-bottom: 1px dotted #fff;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
  }
  .hentry {
    border-bottom: 1px dotted #fff;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
  }
}
.page {
  h1 {
    font-weight: 400;
    font-size: 1.8rem;
  }
  p {
    font-size: 1rem;
  }
}
.tag {
  .entry-title {
    margin-top: 0.6em;
  }
}
/* Submit a Quote Page */
